<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.RecordDao">

    <sql id="tablename">record</sql>

    <sql id="Base_Column_List">
        id,url,number
    </sql>

    <!--<resultMap id="BaseResultMap" type="entity.StationInfoInfo">-->
        <!--<result column="music_id" property="musicId" jdbcType="VARCHAR"/>-->
        <!--<result column="music_name" property="musicName" jdbcType="VARCHAR"/>-->
        <!--<result column="music_author" property="musicAuthor" jdbcType="VARCHAR"/>-->
    <!--</resultMap>-->
    <!--useGeneratedKeys="true" keyProperty="id"-->

    <insert id="insert" parameterType="com.entity.Record">
        insert into
        <include refid="tablename"/>
        (id,url,number)
        values(#{id},#{url},#{number})
    </insert>

    <select id="selectByUrl" resultType="com.entity.Record">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="tablename"/>
        where
                url = #{url}
    </select>
</mapper>